{% extends 'accounts/auth_base.html' %}
{% load static %}

{% block title %}
	Log-In
{% endblock %}

{% block content %}
	<main id="main-content" class="container w-50">
               <div class="col">
                    <div id="form-wrapper">
                        <form id="form" method="post">
                            {% csrf_token %}
                            <div class="hd-wrap">
                                <div class="wl-wrap">
                                    <img src="{% static 'css/assets/images/wish-list.png'%}" alt="Wish List">
                                </div>
                                <h1>Login</h1>
                            </div>
                            <div class="form-wrap">
                                <label for="username">Username or Email address</label>
                                {{ form.username }}
                            </div>
                             <div class="form-wrap">
                                <label for="password">Password</label>
                                {{ form.password }}
                            </div>
                            <div class="text-center">
                                <button class="btn" type="submit">Log-in</button>
                            </div>
                            <div class="signup-wrapper">
                                <p>Get Started <a href="{% url 'accounts:sign_up' %}">Sign-up here</a></p>
                            </div>    
                        </form>
                    </div>
               </div>
        </main>
{% endblock %}